<ion-header>
  <app-gestao-title-header [rota]="'/tabs/tab1'" [title]="title"></app-gestao-title-header>
</ion-header>

<ion-content>
  <app-app-searchbar (retornoPesquisa)="getItems($event)"></app-app-searchbar>

  <div class="text-center">
    <h6><ion-label><strong>Quantidade Total:</strong> {{ quantidadeTotal }}</ion-label> </h6>
    <h6><ion-label><strong>Quantidade Leitos Masculino:</strong> {{ quantidadeMasculino }}</ion-label> </h6>
    <h6><ion-label><strong>Quantidade Leitos Feminino:</strong> {{ quantidadeFeminino }}</ion-label> </h6>
  </div>
  <br /><br />  
  <ion-list *ngFor="let leito of leitosSearch" >
    <ion-item-sliding #slidingCase >
      <ion-item detail=false (click)="detalhar(leito,slidingCase)" *ngIf="leito.ala !== undefined">
        <h2>
          <strong><label>{{ leito.numeroLeito + ' - ' + leito.ala + ' - ' + leito.setor | uppercase}}</label></strong>
        </h2>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deletar(leito,slidingCase)" color="danger">Deletar</ion-item-option>
        <ion-item-option (click)="alterar(leito,slidingCase)" color="primary">Alterar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
