<ion-header>
  <app-gestao-title-header [rota]="'/tabs/tab1'" [title]="title"></app-gestao-title-header>
</ion-header>

<ion-content>

  <form [formGroup]="formulario" >
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Número do Leito: <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" inputmode="text" name="numeroLeito" formControlName="numeroLeito" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ala: <ion-text color="danger">*</ion-text></ion-label>
        <ion-select
          formControlName="ala"
          [compareWith]="compareFn" >
          <ion-select-option *ngFor="let ala of alasDTO" [value]="ala">{{ala}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Setor: <ion-text color="danger">*</ion-text></ion-label>
        <ion-select
          formControlName="setor"
          [compareWith]="compareFn" >
          <ion-select-option *ngFor="let setor of setores" [value]="setor">{{setor}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </form>

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button (click)="salvar()" [disabled]="formulario.invalid">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button expand="full" color="secondary" (click)="limparFormulario()" 
    *ngIf="temId"
  >
    LIMPAR
  </ion-button>

</ion-content>
