<ion-header [translucent]="true">
  <app-gestao-title-header [title]="title"></app-gestao-title-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text-center">
    <ion-label ><strong>Pacientes Internados</strong></ion-label>
    <p-chart type="pie" [data]="data" width="200w" height="200w"></p-chart>
  </div>
  <ion-item-divider></ion-item-divider>
  <div class="text-center">
    <ion-label ><strong>Leitos Disponíveis</strong></ion-label>
    <p-chart type="doughnut" [data]="leitosDisponiveis" width="300w" height="300w"></p-chart>
  </div>
</ion-content>
