<ion-header [translucent]="true">
  <app-gestao-title-header [title]="title"></app-gestao-title-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    animated="true"
    placeholder="Pesquisar "
    (ionInput)="getItems($event)"
  ></ion-searchbar>

  <ion-list *ngFor="let paciente of pacientesSearch">
    <ion-item-sliding #slidingCase>
      <ion-item detail (click)="detalhar(paciente,slidingCase)">
        <h2>
          <strong><label>{{ paciente.nome }}</label></strong>
        </h2>
        <br/><br/>
        <h4><label>{{ paciente.numeroSES }}</label></h4>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
