.ion-wrap{
    overflow-wrap: break-word;
}
.ion-text-right{
    text-align: right;
}
.ion-text-left{
    text-align: left;
}

.btn-pwa {
    top: 32px;
    right: 32px;
    position: absolute;
    font-weight: bold;
}